<?xml version="1.0"?>
<config>
    <modules>
        <Magethings_OrderPreview>
            <version>0.1.0</version>
        </Magethings_OrderPreview>
    </modules>
    <global>
        <models>
            <orderpreview>
                <class>Magethings_OrderPreview_Model</class>
                <resourceModel>magethings_orderpreview_resource</resourceModel>
            </orderpreview>
            <magethings_orderpreview_resource>
                <class>Magethings_OrderPreview_Model_Resource</class>
            </magethings_orderpreview_resource>
        </models>
        <blocks>
            <orderpreview>
                <class>Magethings_OrderPreview_Block</class>
            </orderpreview>
        </blocks>
        <helpers>
            <orderpreview>
                <class>Magethings_OrderPreview_Helper</class>
            </orderpreview>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Magethings_OrderPreview>
                    <files>
                        <default>Magethings_OrderPreview.csv</default>
                    </files>
                </Magethings_OrderPreview>
            </modules>
        </translate>
        <layout>
            <updates>
                <orderpreview>
                    <file>magethings/orderpreview/orderpreview.xml</file>
                </orderpreview>
            </updates>
        </layout>
    </adminhtml>
</config>