.htaccess
.htaccess.sample
.idea/
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
LICENSE_EE.html
LICENSE_EE.txt
RELEASE_NOTES.txt
app/code/community
app/code/core
app/etc
app/locale
app/.htaccess
app/Mage.php
api.php
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
js/calendar
js/enterprise
js/extjs
js/firebug
js/flash
js/jscolor
js/lib
js/mage
js/prototype
js/scriptaculous
js/tiny_mce
js/varien
js/blank.html
js/index.php
js/spacer.gif
mage
media/
php.ini.sample
pkginfo/
shell/
skin/
var/
lib/
